<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mainpic/cateIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,2},{66,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,72}</string>
			</dict>
			<key>mainpic/collectionsIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,75},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>mainpic/dailyIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,146},{72,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,75}</string>
			</dict>
			<key>mainpic/libraryIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,2},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>mainpic/myPuzzleIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,2},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>mainpic/reward.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,146},{78,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>mainpic/mainSettingsIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,222},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>mainpic/puzzlecoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,2},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>mainpic/toggle-back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{181,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,140}</string>
			</dict>
			<key>mainpic/popUpContentBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,2},{123,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,147}</string>
			</dict>
			<key>mainpic/addicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,2},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mainpic.png</string>
			<key>realTextureFileName</key>
			<string>mainpic.png</string>
			<key>size</key>
			<string>{674,296}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>674</integer>
			<key>height</key>
			<integer>296</integer>
		</dict>
	</dict>
</plist>